header {
    background-color: rgb(47, 62, 78);
    padding: 30px 0;
}

.main-top {
    background-color: rgb(87, 185, 157);
    padding: 30px 0;
}

.main-mid-top {
    background-color: white;
    padding: 100px 0;
}

.main-mid-bot {
    background-color: rgb(87, 185, 157);
    padding: 30px 0;
}

.main-bot {
    background-color: white;
    padding: 30px 0;
}

.footer-top {
    background-color: rgb(63, 84, 107);
    padding: 30px 0;
}

.footer-bot {
    background-color: rgb(47, 62, 78);
    padding: 30px 0;
}

[class*="col-"] {
    padding: 10px 0;
    background-color: pink;
    border: solid 1px;
}