section {
    padding-top: 30px;
    padding-bottom: 30px;
}

.bg-petrol {
    background-color: rgb(47, 62, 78);
}

.my-navbar {
    /* background-color: rgb(47, 62, 78); */
    margin-bottom: 0;
    border: none;
    border-radius: 0%;
}

.my-navbar .navbar-brand,
.my-navbar .navbar-nav > li > a {
    color: white;
}

.navbar-toggle .icon-bar {
    background-color: white;
}

.bg-green {
    background-color: rgb(87, 185, 157);
}

.bg-white {
    background-color: white;
}

.footer-top {
    background-color: rgb(63, 84, 107);
    padding: 30px 0;
}

.my-img {
    max-width: 200px;
}


.line {
    height: 4px;
    background-color: white;
    width: calc(35% - 50px);
    display: inline-block;
    border-radius: 2px;
    margin-bottom: 10px;
}

#bg-black {
    background-color: black;
}

.star {
    display: inline-block;
    font-size: 30px;
    width: 15%;
}

.text-white {
    color: white;
}

.box {
    margin: 10px 0;
}

.form-control {
    border-top: none;
    border-right: none;
    border-left: none;
    box-shadow: none;
    border-radius: 0;
}

.btn-transparent {
    background-color: transparent;
    border: solid 1px white;
}

.btn-green {
    background-color: rgb(87, 185, 157);
    color: white;
}

.glyphicon-star {
    font-size: 25px;
}

.social-icons {
    /* height: auto; */
    margin: auto;
}

.fa {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: solid 1px white;
    color: white;
    padding-top: 7.5px;
}

.start-bootstrap {
    color: rgb(87, 185, 157);
}

.p-footer-bot {
    font-size: 10px;
}